include kawaii_player/resources/default.jpg
include kawaii_player/resources/introspect.xml
include kawaii_player/resources/kawaii-player.desktop
include kawaii_player/resources/Instructions
include kawaii_player/resources/1.png
include kawaii_player/resources/input.conf
include kawaii_player/resources/tray.png
include kawaii_player/web/playlist.html
include kawaii_player/web/style.css
include kawaii_player/web/myscript.js
include kawaii_player/kawaii-player-start
include kawaii_player/kawaii-player
