Package: kawaii-player
Version: 8.0.0-1
Architecture: all
Maintainer: kanishka-linux
Depends: python3, python3-pyqt6, python3-dbus, python3-pil, python3-bs4, python3-lxml, python3-taglib, python3-pip, libnotify-bin, python3-libtorrent, python3-dbus.mainloop.pyqt6, python3-pyqt6.qtwebengine, python3-mutagen, python3-opengl, libmpv-dev, socat, python3-vlc
Section: sound,video,audio,multimedia
Description: A media player, media server and library manager.
